@{
    ViewBag.Title = "Review Page";
}

<h3>@ViewBag.Message</h3>

<a href="../Review/Create" class="btn btn-default">Create</a>
<a href="../Review/Read" class="btn btn-primary">Read</a>
<a href="../Review/Edit" class="btn btn-success">Edit</a>
<a href="../Review/Delete" class="btn btn-danger">Delete</a>
